@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
 
@tailwind base;
@tailwind components;
@tailwind utilities;

.ocultar-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ocultar-scroll::-webkit-scrollbar {
    display: none;
}

.arrastrable {
    cursor: grab;
    touch-action: pan-x;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee 25s linear infinite;
}

.video-loading-overlay {
    opacity: 1;
    transition: opacity 0.3s ease;
}

video.loaded ~ .video-loading-overlay {
    opacity: 0;
    pointer-events: none;
}

